.table01, th, td {
  border: 1px solid black;
}

.table01 {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}

.th01 {
  height: 50px;
}

.table02 {
  width: 50%;
  border-collapse: collapse;
}
